body {
  background-color: #eceff1;
}
body {
  font-family: Liter;
}
.display-1 {
  font-family: 'Liter', sans-serif;
  font-size: 7.5rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
.display-1 > .mbr-iconfont {
  font-size: 9.375rem;
}
.display-2 {
  font-family: 'Liter', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
.display-2 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-4 {
  font-family: 'Liter', sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 300;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Liter', sans-serif;
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 300;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8125rem;
}
.display-7 {
  font-family: 'Liter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 300;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.25rem;
    font-size: calc( 3.2749999999999995rem + (7.5 - 3.2749999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.2749999999999995rem + (7.5 - 3.2749999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0;
}
.bg-primary {
  background-color: #778da9 !important;
}
.bg-success {
  background-color: #25c87c !important;
}
.bg-info {
  background-color: #0cbde1 !important;
}
.bg-warning {
  background-color: #edb200 !important;
}
.bg-danger {
  background-color: #ca2333 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #778da9 !important;
  border-color: #778da9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4e627b !important;
  border-color: #4e627b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4e627b !important;
  border-color: #4e627b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #354153 !important;
  border-color: #354153 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #13181e !important;
  border-color: #13181e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #13181e !important;
  border-color: #13181e !important;
}
.btn-info,
.btn-info:active {
  background-color: #0cbde1 !important;
  border-color: #0cbde1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #08788f !important;
  border-color: #08788f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #08788f !important;
  border-color: #08788f !important;
}
.btn-success,
.btn-success:active {
  background-color: #25c87c !important;
  border-color: #25c87c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #177f4f !important;
  border-color: #177f4f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #177f4f !important;
  border-color: #177f4f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #edb200 !important;
  border-color: #edb200 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #967100 !important;
  border-color: #967100 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #967100 !important;
  border-color: #967100 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ca2333 !important;
  border-color: #ca2333 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #801620 !important;
  border-color: #801620 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #801620 !important;
  border-color: #801620 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #778da9;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #4e627b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #778da9 !important;
  border-color: #778da9 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #354153;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #13181e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #354153 !important;
  border-color: #354153 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0cbde1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #08788f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0cbde1 !important;
  border-color: #0cbde1 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #25c87c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #177f4f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #25c87c !important;
  border-color: #25c87c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #edb200;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #967100 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #edb200 !important;
  border-color: #edb200 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ca2333;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #801620 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ca2333 !important;
  border-color: #ca2333 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #778da9 !important;
}
.text-secondary {
  color: #354153 !important;
}
.text-success {
  color: #25c87c !important;
}
.text-info {
  color: #0cbde1 !important;
}
.text-warning {
  color: #edb200 !important;
}
.text-danger {
  color: #ca2333 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #485a72 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0d1015 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #157247 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #076c80 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #876500 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #73141d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #778da9;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0cbde1;
}
.alert-warning {
  background-color: #edb200;
}
.alert-danger {
  background-color: #ca2333;
}
.mbr-gallery-filter li.active .btn {
  background-color: #778da9;
  border-color: #778da9;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #778da9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c5ceda;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #84e8ba;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #bdf1fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffeeba;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f5c4c9;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Liter', sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 300;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #778da9 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Liter', sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 300;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #778da9;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #778da9;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #778da9;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #778da9;
  border-bottom-color: #778da9;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #778da9 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #354153 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23778da9' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 21px 28px;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline,
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline,
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline,
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline,
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline,
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline,
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline,
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  position: relative;
  padding: 0 !important;
}
.mbr-section-btn .btn-primary-outline:hover::before,
.mbr-section-btn-main .btn-primary-outline:hover::before,
.mbr-section-btn .btn-secondary-outline:hover::before,
.mbr-section-btn-main .btn-secondary-outline:hover::before,
.mbr-section-btn .btn-success-outline:hover::before,
.mbr-section-btn-main .btn-success-outline:hover::before,
.mbr-section-btn .btn-info-outline:hover::before,
.mbr-section-btn-main .btn-info-outline:hover::before,
.mbr-section-btn .btn-warning-outline:hover::before,
.mbr-section-btn-main .btn-warning-outline:hover::before,
.mbr-section-btn .btn-danger-outline:hover::before,
.mbr-section-btn-main .btn-danger-outline:hover::before,
.mbr-section-btn .btn-black-outline:hover::before,
.mbr-section-btn-main .btn-black-outline:hover::before,
.mbr-section-btn .btn-white-outline:hover::before,
.mbr-section-btn-main .btn-white-outline:hover::before {
  width: 0;
}
.mbr-section-btn .btn-primary-outline::before,
.mbr-section-btn-main .btn-primary-outline::before,
.mbr-section-btn .btn-secondary-outline::before,
.mbr-section-btn-main .btn-secondary-outline::before,
.mbr-section-btn .btn-success-outline::before,
.mbr-section-btn-main .btn-success-outline::before,
.mbr-section-btn .btn-info-outline::before,
.mbr-section-btn-main .btn-info-outline::before,
.mbr-section-btn .btn-warning-outline::before,
.mbr-section-btn-main .btn-warning-outline::before,
.mbr-section-btn .btn-danger-outline::before,
.mbr-section-btn-main .btn-danger-outline::before,
.mbr-section-btn .btn-black-outline::before,
.mbr-section-btn-main .btn-black-outline::before,
.mbr-section-btn .btn-white-outline::before,
.mbr-section-btn-main .btn-white-outline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  transition: all .3s ease;
}
.mbr-section-btn .btn-primary-outline::before,
.mbr-section-btn-main .btn-primary-outline::before {
  background-color: #778da9;
}
.mbr-section-btn .btn-secondary-outline::before,
.mbr-section-btn-main .btn-secondary-outline::before {
  background-color: #354153;
}
.mbr-section-btn .btn-success-outline::before,
.mbr-section-btn-main .btn-success-outline::before {
  background-color: #25c87c;
}
.mbr-section-btn .btn-info-outline::before,
.mbr-section-btn-main .btn-info-outline::before {
  background-color: #0cbde1;
}
.mbr-section-btn .btn-warning-outline::before,
.mbr-section-btn-main .btn-warning-outline::before {
  background-color: #edb200;
}
.mbr-section-btn .btn-danger-outline::before,
.mbr-section-btn-main .btn-danger-outline::before {
  background-color: #ca2333;
}
.mbr-section-btn .btn-black-outline::before,
.mbr-section-btn-main .btn-black-outline::before {
  background-color: #000000;
}
.mbr-section-btn .btn-white-outline::before,
.mbr-section-btn-main .btn-white-outline::before {
  background-color: #ffffff;
}
.cid-uHvLv2BcJF {
  background-color: transparent;
}
.cid-uHvLv2BcJF .navbar-dropdown {
  background-color: #f1f2f4 !important;
  padding: 0;
  background-color: transparent !important;
}
.cid-uHvLv2BcJF .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #f1f2f4 !important;
  background-color: transparent !important;
  background: #f1f2f4;
}
.cid-uHvLv2BcJF .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-uHvLv2BcJF .menu_box .navbar.opened,
  .cid-uHvLv2BcJF .menu_box .navbar-collapse {
    background-color: #f1f2f4 !important;
    transition: all 0s ease 0s;
    background-color: transparent !important;
  }
}
.cid-uHvLv2BcJF .navbar-dropdown {
  position: relative !important;
}
.cid-uHvLv2BcJF .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uHvLv2BcJF .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-uHvLv2BcJF ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-uHvLv2BcJF .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uHvLv2BcJF .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-uHvLv2BcJF .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-uHvLv2BcJF li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-uHvLv2BcJF .lg_brand {
    margin: 0 1rem;
  }
}
.cid-uHvLv2BcJF .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-uHvLv2BcJF .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-uHvLv2BcJF .nav-item {
    margin: 0 !important;
  }
}
.cid-uHvLv2BcJF .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uHvLv2BcJF .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uHvLv2BcJF .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uHvLv2BcJF .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uHvLv2BcJF .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uHvLv2BcJF .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uHvLv2BcJF .offcanvas_box {
    display: none;
  }
}
.cid-uHvLv2BcJF .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-uHvLv2BcJF .nav-dropdown .link {
  font-weight: 300 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uHvLv2BcJF .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-uHvLv2BcJF .container {
  display: flex;
  margin: auto;
}
.cid-uHvLv2BcJF .iconfont-wrapper {
  color: #495dff;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uHvLv2BcJF .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uHvLv2BcJF .iconfont-wrapper:hover {
  opacity: 0.5;
}
.cid-uHvLv2BcJF .navbar-caption {
  color: #143457;
}
.cid-uHvLv2BcJF .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uHvLv2BcJF .navbar-nav {
    margin: 0;
  }
}
.cid-uHvLv2BcJF .dropdown-menu,
.cid-uHvLv2BcJF .navbar.opened {
  background-color: false !important;
}
.cid-uHvLv2BcJF .nav-item:focus,
.cid-uHvLv2BcJF .nav-link:focus {
  outline: none;
}
.cid-uHvLv2BcJF .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uHvLv2BcJF .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uHvLv2BcJF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uHvLv2BcJF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uHvLv2BcJF .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uHvLv2BcJF .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uHvLv2BcJF .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uHvLv2BcJF .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uHvLv2BcJF .navbar.opened {
  transition: all 0.3s;
}
.cid-uHvLv2BcJF .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uHvLv2BcJF .navbar .navbar-logo img {
  max-width: 130px;
  max-height: 130px;
  object-fit: contain;
}
.cid-uHvLv2BcJF .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-uHvLv2BcJF .navbar.collapsed {
  justify-content: center;
}
.cid-uHvLv2BcJF .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uHvLv2BcJF .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uHvLv2BcJF .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uHvLv2BcJF .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uHvLv2BcJF .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uHvLv2BcJF .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uHvLv2BcJF .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uHvLv2BcJF .navbar .nav-item {
    padding: 0.5rem 0;
  }
  .cid-uHvLv2BcJF .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-uHvLv2BcJF .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uHvLv2BcJF .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uHvLv2BcJF .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uHvLv2BcJF .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uHvLv2BcJF .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uHvLv2BcJF .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uHvLv2BcJF .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-uHvLv2BcJF .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uHvLv2BcJF .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uHvLv2BcJF .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uHvLv2BcJF .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uHvLv2BcJF .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uHvLv2BcJF .navbar.navbar-short {
  min-height: 60px;
}
.cid-uHvLv2BcJF .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uHvLv2BcJF .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uHvLv2BcJF .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uHvLv2BcJF .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 300;
}
.cid-uHvLv2BcJF .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uHvLv2BcJF .dropdown-item.active,
.cid-uHvLv2BcJF .dropdown-item:active {
  background-color: transparent;
}
.cid-uHvLv2BcJF .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uHvLv2BcJF .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uHvLv2BcJF .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uHvLv2BcJF .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uHvLv2BcJF ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uHvLv2BcJF .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uHvLv2BcJF button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #f1f2f4;
  background: #000000;
}
.cid-uHvLv2BcJF button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #eceff1;
}
.cid-uHvLv2BcJF button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uHvLv2BcJF button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uHvLv2BcJF button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uHvLv2BcJF button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uHvLv2BcJF nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uHvLv2BcJF nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uHvLv2BcJF nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uHvLv2BcJF nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uHvLv2BcJF a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uHvLv2BcJF .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uHvLv2BcJF .navbar {
    height: 70px;
  }
  .cid-uHvLv2BcJF .navbar.opened {
    height: auto;
  }
  .cid-uHvLv2BcJF .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uHvLv2BcJF .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-uHvLv2BcJF .container-fluid {
    padding-left: 22px;
    padding-right: 22px;
  }
}
.cid-uHvLv2BcJF .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-uHvLv2BcJF .mbr-section-btn-main .btn {
  width: fit-content;
  white-space: nowrap;
  margin: 0 4px 4px 4px;
}
@media (max-width: 992px) {
  .cid-uHvLv2BcJF .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
.cid-uHvLv2BcJF .navbar-caption:hover {
  color: #000000;
}
@media (min-width: 992px) {
  .cid-uHvLv2BcJF .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uHvLv2BcJF .nav-link {
  opacity: 0.7;
}
.cid-uHvLv2BcJF .nav-link:hover,
.cid-uHvLv2BcJF .nav-link:focus {
  opacity: 1;
}
.cid-uHvLv2BcJF .icons-menu-main {
  display: flex;
}
.cid-uHvLv2BcJF .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uHvLv2BcJF .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-uHvLv2BcJF .text_widget {
  color: #ffffff;
}
.cid-uHvLv2BcJF .mbr-section-subtitle,
.cid-uHvLv2BcJF .text_widget,
.cid-uHvLv2BcJF .mbr-section-btn {
  text-align: center;
}
.cid-uHvLv2BcJF a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uHvLv2BcJF .nav-link,
.cid-uHvLv2BcJF .dropdown-item {
  color: #143457;
}
.cid-uHvLv2DzZX {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #415a77;
}
.cid-uHvLv2DzZX .mbr-fallback-image.disabled {
  display: none;
}
.cid-uHvLv2DzZX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uHvLv2DzZX .container-fluid {
  padding: 0 22px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uHvLv2DzZX .container-fluid {
    padding: 0 16px;
  }
}
.cid-uHvLv2DzZX .container-fluid .row {
  padding: 0;
}
.cid-uHvLv2DzZX .subtitle-wrapper .mbr-section-subtitle {
  padding: 22px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-uHvLv2DzZX .subtitle-wrapper .mbr-section-subtitle {
    margin-bottom: 64px;
  }
}
.cid-uHvLv2DzZX .image-wrapper {
  padding-right: 80px;
}
@media (max-width: 992px) {
  .cid-uHvLv2DzZX .image-wrapper {
    padding: 0;
  }
}
.cid-uHvLv2DzZX .image-wrapper img {
  height: 550px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uHvLv2DzZX .image-wrapper img {
    height: 300px;
  }
}
.cid-uHvLv2DzZX .title {
  display: inline-flex;
  align-items: center;
}
.cid-uHvLv2DzZX .title-wrapper .mbr-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  background-color: #ffffff;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}
.cid-uHvLv2DzZX .title-wrapper .mbr-section-title {
  margin-bottom: 22px;
}
.cid-uHvLv2DzZX .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uHvLv2DzZX .mbr-section-subtitle {
  color: #FFFFFF;
}
.cid-uHvLv2DzZX .mbr-number {
  color: #415A77;
}
.cid-uHvLv2DzZX .mbr-section-title {
  color: #ffffff;
}
.cid-uHvLv2DzZX .mbr-text {
  color: #FFFFFF;
}
.cid-uHvLv2DzZX .mbr-section-title,
.cid-uHvLv2DzZX .number-wrapper {
  color: #FFFFFF;
}
.cid-uHvLv2FUQk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uHvLv2FUQk .mbr-fallback-image.disabled {
  display: none;
}
.cid-uHvLv2FUQk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uHvLv2FUQk .container-fluid {
  padding: 0 22px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uHvLv2FUQk .container-fluid {
    padding: 0 16px;
  }
}
.cid-uHvLv2FUQk .container-fluid .row {
  padding: 0;
}
.cid-uHvLv2FUQk .container {
  overflow: hidden;
}
.cid-uHvLv2FUQk .title-wrapper {
  margin-bottom: 102px;
}
@media (max-width: 992px) {
  .cid-uHvLv2FUQk .title-wrapper {
    margin-bottom: 80px;
  }
}
.cid-uHvLv2FUQk .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-uHvLv2FUQk .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .cid-uHvLv2FUQk .title-wrapper .mbr-section-title {
    margin-bottom: 24px;
  }
}
.cid-uHvLv2FUQk .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uHvLv2FUQk .cards-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 190px);
  grid-column-gap: 24px;
  grid-row-gap: 64px;
}
@media (max-width: 768px) {
  .cid-uHvLv2FUQk .cards-wrapper {
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}
.cid-uHvLv2FUQk .cards-wrapper .card .mbr-number {
  margin-bottom: 4px;
}
.cid-uHvLv2FUQk .cards-wrapper .card .mbr-title {
  margin-bottom: 4px;
}
.cid-uHvLv2FUQk .cards-wrapper .card .mbr-desc {
  margin-bottom: 0;
}
.cid-uHvLv2FUQk .mbr-section-title {
  color: #495DFF;
}
.cid-uHvLv2FUQk .mbr-text {
  color: #143457;
}
.cid-uHvLv2FUQk .mbr-number {
  color: #143457;
}
.cid-uHvLv2FUQk .mbr-title {
  color: #143457;
}
.cid-uHvLv2FUQk .mbr-desc {
  color: #143457;
}
.cid-uHvLv2FUQk .mbr-section-title,
.cid-uHvLv2FUQk .cards {
  color: #143457;
}
.cid-uHvLv2SecW {
  background-image: url("https://r.mobirisesite.com/1370553/assets/images/photo-1542435503-956c469947f6.jpeg");
}
.cid-uHvLv2SecW .mbr-fallback-image.disabled {
  display: none;
}
.cid-uHvLv2SecW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uHvLv2SecW .container-fluid {
  padding: 0 22px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uHvLv2SecW .container-fluid {
    padding: 0 16px;
  }
}
.cid-uHvLv2SecW .container-fluid .row {
  padding: 0;
}
.cid-uHvLv2SecW .container {
  overflow: hidden;
}
.cid-uHvLv2SecW .row {
  justify-content: center;
}
.cid-uHvLv2SecW .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-uHvLv2SecW .mbr-section-title {
  color: #143457;
  text-align: center;
}
.cid-uHvLv2YxOQ {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f1f2f4;
  background-color: transparent;
}
.cid-uHvLv2YxOQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uHvLv2YxOQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uHvLv2YxOQ .container-fluid {
  padding: 0 22px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-uHvLv2YxOQ .container-fluid {
    padding: 0 16px;
  }
}
.cid-uHvLv2YxOQ .container-fluid .row {
  padding: 0;
}
.cid-uHvLv2YxOQ .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-uHvLv2YxOQ .list {
  padding: 0;
  margin-bottom: 32px;
  list-style-type: none;
  color: #495DFF;
}
.cid-uHvLv2YxOQ .list .item-wrap {
  padding: 12px 0;
  transition: all 0.3s ease;
}
.cid-uHvLv2YxOQ .list .item-wrap:hover {
  opacity: 0.5;
}
.cid-uHvLv2YxOQ .mbr-section-btn {
  width: 100%;
}
.cid-uHvLv2YxOQ .mbr-section-btn .btn {
  width: 100%;
}
.cid-uHvLv2YxOQ .copyright {
  padding: 64px 0;
  margin-bottom: 0;
  color: #143457;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uHvLv2YxOQ .copyright {
    padding: 32px 0;
  }
}
.cid-uHvLv2YxOQ .mbr-section-title {
  color: #495DFF;
}
